
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Sweetwedding - Responsive Wedding Template">
    <meta name="keywords" content="wedding,events,ceremony,couple,love story">
    <meta name="author" content="Beeskip">

    <!-- Page Title -->
    <title>Keith And Nikki's Wedding</title>

    <!-- Favicon and Touch Icons -->
    <link href="images/favicon.png" rel="shortcut icon" type="image/png">

    <!-- Icon fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins for this template -->

    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">
    <link href="css/owl.transitions.css" rel="stylesheet">
	<link href="css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="css/lightbox.min.css" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">

	<!-- style counter -->

    <link type="text/css" rel="stylesheet" href="css/timer.css">
	<link type="text/css" rel="stylesheet" href="css/jquery.countdown.css">

    <link type="text/css" rel="stylesheet" href="css/button.css">
    <link type="text/css" rel="stylesheet" href="css/slider.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117517734-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117517734-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->

</head>

<body class=" main-page">

    <!-- start page-wrapper -->
    <div class="page-wrapper">


        <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <i class="fa fa-heart"></i>
            </div>
        </div>
        <!-- end preloader -->


        <!-- Start header -->
        <header id="header">
            <nav class="navigation navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="open-btn">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">K <i class="fa fa-fw fa-heart"></i> N</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse navbar-right">
                        <button class="close-navbar"><i class="fa fa-close"></i></button>
                        <ul class="nav navbar-nav">
                            <li class="mobile-menu-logo">Keith <i class="fa fa-fw fa-heart"></i> Nikki</li>
                            <li class="active"><a href="#home">Home</a></li>
                            <li><a href="#couple">Couple</a></li>
                            <li><a href="#story">Story</a></li>
                            <li><a href="#event">Events</a></li>
                            <li><a href="#people">Wedding Party</a></li>
                            <li><a href="#gallery">Gallery</a></li>
                            <li><a href="#engagement">Engagement Photos</a></li>
                            <li><a href="#rsvp">RSVP</a></li>
						</ul>
                            <div class="copyright">
                <div class="social-media">
                    <a href="http://www.dribbble.com" target="_blank"><i class="fa fa-dribbble"></i></a>
                    <a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="http://www.google.com" target="_blank"><i class="fa fa-google-plus"></i></a>
                 </div>
                <span>&copy; 2018 K & N .<br> All Rights Reserved.</span>
            </div>


                    </div><!-- end of nav-collapse -->
                </div><!-- end of container -->
            </nav>
        </header>
        <!-- end of header -->


        <!-- start of hero -->
        <section class="current-section hero hero-slider-wrapper" id="home">
            <div class="hero-slider">
                <div class="slide" id="mainslider">
                   <img src="images/slider/slide-1_normal.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/slider/slide-2_normal.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/slider/slide-3_normal.jpg" alt>
                </div>
            </div>

               <div class="announcement-wrapper">
                <div class="announcement">
                    <span class="married-text">
                         We're getting married
                    </span>

                    <div class="couple-name">
                        <h1>Keith & Nikki</h1>
                    </div>
                    <span class="date">on the 1st of September In Denver, Colorado</span>

                </div>
            </div>

        </section>
        <!-- end of hero slider -->


        <!-- start couple -->
        <section class="couple section-padding section-bg" data-bg-image="images/couple/couple-bg.jpg" id="couple">

                    <div class="section-holder">
					<div class="container">
                <h2 class="upper text-center title">The Couple</h2>

            <div class="row clearfix theCouple">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> <img src="images/couple/bride3.jpg" alt=" " class="bigRound">
          <h3>Nicole Barbour</h3>
          <h5>Eatonville, Washington</h5>
          <p style="color:black">Nikki grew up in Washington and moved to Colorado 6 years ago.</p>
          <ul>
            <li> <a class="ico" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
          </ul>
        </div>
        <div class="col-md-2 col-lg-2 line"> <i class="fa fa-heart"></i> </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> <img src="images/couple/groom.jpg" alt=" " class="bigRound">
          <h3>Keith Gerhards</h3>
          <h5>New Orleans, Louisiana</h5>
          <p style="color:black">Keith was born in New Orleans, but moved to Corpus Christi Texas when he was 3. He grew up in Corpus and moved to Colorado 25 years ago.</p>
          <ul>
            <li> <a class="ico" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
            <li> <a class="ico" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
          </ul>
        </div>
      </div>
            </div>
			</div>
        </section>
        <!-- end of couple -->


        <!-- start of story -->
        <section class="story section-padding"  id="story">
             <div class="section-holder">
                <div class=" ">
                    <div class="row">
                <div class="col-md-7 col-xs-12 image ">
				<div class=" big-story">
                    <img src="images/story/story.jpeg" alt="couple" />
                </div>
				</div>
                <div class="col-md-5 col-xs-12 story-line ">

                  <div class="story-box">
                            <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="">
                                        <a href="#first-meet" aria-controls="first-meet" role="tab" data-toggle="tab" aria-expanded="false">
                                        <i class="fi flaticon-clothes-1"></i>
                                        First meet</a>
                                    </li>
                                    <li role="presentation" class="">
                                        <a href="#first-date" aria-controls="first-date" role="tab" data-toggle="tab" aria-expanded="false">
                                        <i class="fi flaticon-calendar-2"></i>
                                        First date</a>
                                        </li>
                                    <li role="presentation" class="active">
                                        <a href="#engagement" aria-controls="engagement" role="tab" data-toggle="tab" aria-expanded="true">
                                        <i class="fi flaticon-ring"></i>
                                        Engagement</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div role="tabpanel" class="row tab-pane fade" id="first-meet">
                                        <div class="col col-lg-12 col-sm-12 col-sm-12">
										<div class="content-story">

                                          <div class="story-date">
                                            <h3>Our first meet</h3>
                                            <span class="date">14 August 2014</span>
										 </div>
										   <img src="images/story/1.jpeg" class="img img-responsive" alt="Our first meet">
										</div>
                                            <p>
											Keith first met Nikki when he asked her to help plan a team building event. <br>
											 Nothing happened at the team building event but this is where the friendship first started.
											</p>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="row tab-pane fade" id="first-date">
                                        <div class="col-lg-12 col-sm-12 col-sm-12">
										<div class="content-story">

                                          <div class="story-date">
                                            <h3>Our first date</h3>
                                            <span class="date">1 June 2016</span>
										  </div>
										    <img src="images/story/2.jpeg" class="img img-responsive" alt="Our first date">
										</div>

											<p>
											Keith and Nikki's first date was in Aspen where they spent the day hiking and having fun downtown. It must have been a good sign when neither of them were tired of the other after a three hour car ride!
											</p>
                                        </div>
                                    </div>

                                    <div role="tabpanel" class="row tab-pane fade active in" id="engagement">
                                        <div class="col-lg-12 col-sm-12 col-sm-12">
										<div class="content-story">
										<div class="story-date">
                                            <h3>Engagement</h3>
                                            <span class="date">10 January 2018</span>
										   </div>
										   <img src="images/story/3.jpeg" class="img img-responsive" alt="Engagement">
										 </div>
                                            <p>
											The couple got engaged in Colorado over the winter! Keith picked out the ring back in November, but due to an ordering issue, he didn't get the ring till January! Even though the ring didn't arrive on schedule, Keith proposed in the most romantic way. He went all out and decorated the house with hundres of roses and surprised Nikki when she got home from work. She, of course, said yes right away!
											</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
                </div> <!-- end of container -->
            </div>
        </section>
        <!-- end of story -->


        <!-- start events -->
        <section class="events section-padding section-bg" data-bg-image="images/events/events-bg.jpg" id="event">
            <div class="section-holder">



            <div class="container ceremony-section">
			<div class="row">
			 <h2 class="upper title">The Events</h2>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-center  "  >
                  <div class="white-box ceremony-detail">

                    <h5> the wedding<br>ceremony </h5>
                    <h4>01 Sept 2018 at 5:30 pm</h4>
                    <img class="pin-icon" src="images/events/pin.png" alt="Location-pin">
                    <p>150 Clayton Lane Denver, Colorado 80206 </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center text-center "   >
                  <div class="white-box ceremony-detail">

                    <h5> cocktail<br>
                      hour </h5>
                    <h4>01 Sept 2018 at 6:00 pm</h4>
                    <img class="pin-icon" src="images/events/pin.png" alt="Location-pin">
                    <p>150 Clayton Lane Denver, Colorado 80206 </p>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                  <div class="white-box ceremony-detail">
					 <h5> reception<br>
                      ceremony </h5>
                    <h4>01 Sept 2018 at 7:00 pm</h4>
                    <img class="pin-icon" src="images/events/pin.png" alt="Location-pin">
                    <p>150 Clayton Lane Denver, Colorado 80206 </p>
                  </div>
                </div>

             <div class="col-md-12 col-sm-12 col-xs-12 text-center text-center  "  >
              <div class="countdown countdown-container">
                  <div class="clock row">
                    <div class="clock-item clock-days countdown-time-value " >
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-days" class="clock-canvas"><div class="kineticjs-content" role="presentation"></div></div>
                          <div class="text">
                            <p class="val">120</p>
                            <p class="type-days type-time">days</p>
                          </div>
                        </div>
                      </div>
					  </div>

                    <div class="clock-item clock-hours countdown-time-value">

					  <div class="wrap">
                        <div class="inner">
                          <div id="canvas-hours" class="clock-canvas"><div class="kineticjs-content" role="presentation" ></div></div>
                          <div class="text">
                            <p class="val">4</p>
                            <p class="type-hours type-time">hours</p>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="clock-item clock-minutes countdown-time-value">
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-minutes" class="clock-canvas"><div class="kineticjs-content" role="presentation" ></div></div>
                          <div class="text">
                            <p class="val">49</p>
                            <p class="type-minutes type-time">minutes</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="clock-item clock-seconds countdown-time-value " >
                      <div class="wrap">
                        <div class="inner">
                          <div id="canvas-seconds" class="clock-canvas"><div class="kineticjs-content" role="presentation" ></div></div>
                          <div class="text">
                            <p class="val">16</p>
                            <p class="type-seconds type-time">seconds</p>
                          </div>
                        </div>
                      </div>
                   </div>
                   </div>

              </div>
			   </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>
        </section>
        <!-- end of events -->


        <!-- people-section -->
        <section class="important-people  section-padding section-bg " data-bg-image="images/people/wed2.jpg" id="people">
			<div class="section-holder people">
               <div id="people-section">
                 <!-- people-photostack -->
				 <div id="people-photostack" class="photostack">
                    <div id="ImageDiv" class="card">
                       <div id="ImageInfo" class="containerforcard"></div>
                    </div>
                 </div>
              </div><!-- /people-section -->
           </div>
        </section>
        <!-- end of important-people -->


        <!-- start gallery -->
        <section class="gallery section-padding "  id="gallery">
             <div class="section-holder">

			  <div class="grid">
				<figure class="effect-apollo">
					<img src="images/gallery/1.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/1.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/2.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/2.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/3.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/3.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/4.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/4.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/5.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/5.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/6.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/6.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/7.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/7.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/8.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/8.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
				<figure class="effect-apollo">
					<img src="images/gallery/9.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/9.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
        <figure class="effect-apollo">
					<img src="images/gallery/10.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/10.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
        <figure class="effect-apollo">
					<img src="images/gallery/11.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/original/11.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>
        <figure class="effect-apollo">
					<img src="images/gallery/12.jpg" alt="Gallery-Wedding" />
					<figcaption>

						<a href="images/gallery/12.jpg" data-lightbox="Gallery-Wedding"> </a>
					</figcaption>
				</figure>

			</div>

            </div>

        </section>
        <!-- end of gallery -->

        <!-- start of engagement -->
        <section class="engagement hero hero-slider-wrapper" id="engagement">
            <div class="hero-slider">
                <div class="slide" id="mainslider">
                   <img src="images/engagement/nk1.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk2.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk3.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk4.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk5.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk6.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk7.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk8.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk9.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk10.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk11.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk12.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk13.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk14.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk15.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk16.jpg" alt>
                </div>
                <div class="slide" id="mainslider">
                    <img src="images/engagement/nk17.jpg" alt>
                </div>

            </div>
        </section>
        <!-- end of engagement slider -->


        <!-- start rsvp -->
            <section class="rsvp section-padding section-bg" data-bg-image="images/rsvp/rsvp-bg.jpg" id="rsvp">
             <div class="section-holder">
			 <div class="container">
                      <div class="col-xs-12 col-sm-12 col-md-&é col-lg-12 wrapper-rspv">
                     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 joinourParty">

            <div class="form-container">
              <div class="heartline">
                 <div id="staticmessage">
				   <h4>ARE YOU ATTENDING?</h4>
                 </div>
                <hr>

              <div class="row">
                <div id="message"></div>
                <form method="post" action="sendinfo" name="cform" id="cform">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                    <input type="text" class="normal" id="name" placeholder="Name" name="name">
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group form-row">
                    <input type="email" class="normal" id="email" placeholder="Email Address" name="email">
                  </div>

				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group form-row ">
                    <select class="normal" id="rsvpselection" name="rsvpselection">
                      <option value="">RSVP</option>
                      <option value="acceptbtn">Accept with Pleasure!</option>
                      <option value="declinebtn">Decline with Regret</option>
                    </select>
                  </div>
				   <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 form-group form-row">
                    <select class="normal" id="mealselection" name="meals">
                      <option value="">Meal Selection</option>
                      <option value="steak"> 10oz New York Strip</option>
                      <option value="chicken"> Roasted Free Range Chicken</option>
                      <option value="veggie"> Vegetarian</option>
                    </select>
					</div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input type="submit" id="submit" name="send" value="Submit" class="button">
                  </div>
                  <p> Please RSVP separatly for each person that will be attending </p>
                </form>
              </div>
            </div>

          </div>
          </div>
		  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 pull-right eventsLocation">
            <h4>EVENT LOCATION</h4>
			<hr>
            <!--Google map -->
            <div class="contactInfo mapArea">
              <div id="map" style="width: 100%; height: 100%"></div>
            </div>
            <!--/Google map -->
             <h4>JW Marriott Denver Cherry Creek</h4>
             <p>150 Clayton Lane, Denver, Colorado, 80206</p>
           <div>
             <ul  data-inset="true" style="margin: 0;padding: 0">
                 <li class="table-view-cell">
                    <a class= "myButton" href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Barbour%20Gerhards%20Wedding%5EDENJW%60BGWBGWG%7CBGWBGWD%7CBGWBGWC%7CBGWBGWB%60197.00-267.00%60USD%60false%604%608/30/18%609/4/18%608/1/18&app=resvlink&stop_mobi=yes">
                    <button>Book your discounted room rate for the wedding</button>
                    </a>
                    <p> If you only need accomodations for one night, please call Masey Leschak @ <a href="tel:+13032533012">303 253 3012</a> for assistance. </p>
                 <li class="table-view-cell">
                    <a class="myButton" href="comgooglemaps://?q=JW+Marriott+Denver+Cherry+Creek?center=39.719065,-105.025741">
                        <button class="ui-btn ui-shadow">Open venue location in Google Maps</button>
                    </a>
                 </li>
              </ul>
           </div>
          </div>
</div>
</div>
</div>
        </section>
        <!-- end of rsvp -->


     </div>
    <!-- end of page-wrapper -->



    <!-- All JavaScript files
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins for this template -->

     <script src="js/lightbox.min.js"></script>
		<script type="text/javascript" src="js/timer.js"></script>
		<script type="text/javascript" src="js/jquery.final-countdown.js"></script>
    <!-- Custom script for this template -->
	 <script src="js/jquery-plugin-collection.js"></script>

    <script src="js/script.js"></script>
    <script src="js/slider.js"></script>
	<!-- Google Map api-->
       <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU1jFdVZzksXn59LTSNR4klKxlEIZpqlM"></script>



            <!-- Google Map -->
             <script>
    google.maps.event.addDomListener(window, 'load', init);
    var map;
    function init() {
        var mapOptions = {
            center: new google.maps.LatLng(39.719086, -104.955701),
            zoom: 11,
            zoomControl: true,
            zoomControlOptions: {
                style: google.maps.ZoomControlStyle.DEFAULT,
            },
            disableDoubleClickZoom: true,
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
            },
            scaleControl: false,
            scrollwheel: false,
            panControl: true,
            streetViewControl: false,
            draggable : true,
            overviewMapControl: true,
            overviewMapControlOptions: {
                opened: false,
            },
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [
    {
        "featureType": "administrative",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#6195a0"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#f2f2f2"
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#e6f3d6"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "road",
        "elementType": "all",
        "stylers": [
            {
                "saturation": -100
            },
            {
                "lightness": 45
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ec8b9f"
            },
            {
                "visibility": "simplified"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "labels.text",
        "stylers": [
            {
                "color": "#4e4e4e"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#f4f4f4"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#787878"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#eaf6f8"
            },
            {
                "visibility": "on"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#eaf6f8"
            }
        ]
    }
],
        }
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var locations = [
         ['Beeskip', 'undefined', 'undefined', 'undefined', 'undefined', 39.719086,  -104.955701, 'images/map-pin.png'],
		 ['Beeskip', 'undefined', 'undefined', 'undefined', 'undefined', 39.719086,  -104.955701, 'images/map-pin.png']
        ];
        for (i = 0; i < locations.length; i++) {
			if (locations[i][1] =='undefined'){ description ='';} else { description = locations[i][1];}
			if (locations[i][2] =='undefined'){ telephone ='';} else { telephone = locations[i][2];}
			if (locations[i][3] =='undefined'){ email ='';} else { email = locations[i][3];}
           if (locations[i][4] =='undefined'){ web ='';} else { web = locations[i][4];}
           if (locations[i][7] =='undefined'){ markericon ='';} else { markericon = locations[i][7];}
            marker = new google.maps.Marker({
                icon: markericon,
                position: new google.maps.LatLng(locations[i][5], locations[i][6]),
                map: map,
                title: locations[i][0],
                desc: description,
                tel: telephone,
                email: email,
                web: web
            });
          link = '';     }

        }
     </script>

</body>
</html>
